.home-screen{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.home-screen form{
    border:1px solid black;
}

.home-screen form input{
    border:none;
    outline:none;
    height:40px;
    padding:10px;
    font-size: 15px;
}

.home-screen form button {
    height:40px;
    width: 40px;
    background-color: white;
    border:none;   
    font-size: 15px;
}