.search-user-panel-container-center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-user-panel-container{
    width: 300px;
}

.search-user-panel-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.search-user-panel-container .input-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.search-user-panel-container button{
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: 100px;
    padding:10px;
    margin:10px 0px;
    
    transition: background-color 0.5s;
    transition: box-shadow 0.1s;
}

.input-container input{
    height: 50px;
    padding:10px;
    font-size: 20px;
    outline:none;
    border:none;
    border-bottom:1px solid black;
    background-color: transparent;
}

.active{
    background-color: rgb(105, 105, 241);
    box-shadow: 1px 1px 1px 1px black;
}

.inactive{
    background-color: rgb(154, 154, 155);
}