li{
    display: inline-block;
    margin:10px auto;
    padding:10px;
    width:95%;
    background:white;
    list-style: none;
    border-bottom :1px solid grey;
    font-size: 20px;
}

li p{
    display: inline-block;
    width:80%;
    margin:0px;
    text-align: left;
}

li i{
    display: inline-block;
    width:20%;
    text-align: center;
    color:red;
}