@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

#modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  scrollbar-width: none;
}



body {
  margin: 0;
  
}

@media screen and (max-width:400px){
  #root{
      width:100%;
  }
  #modal{
    width: 80%;
  }
}